/* 改变主题色变量 */
$--color-primary: #003f78;
$--color-success: #2da641;
$--color-warning: #ed6a0c;
$--color-danger: #d40000;

$--color-text-primary: #000000;
$--color-text-regular: #333333;
$--color-text-secondary: #707070;
$--color-text-placeholder: #c8c9cc;

$--border-color-base: #dcdee0;
$--select-option-color: $--color-text-secondary;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
