$--color-primary: #003f78;
$--color-primary-hover: #003f781a;
$--color-primary-border: #003f7880;
$--color-primary-light-1: #f3f7fc;
$--color-primary-light-2: #d7e0ed;
$--color-primary-light-3: #4d8cc5;
$--color-secondary: #caa846;
$--color-secondary-hover: #dac27d;
$--color-tertiary: #b92327;

$--color-text-primary: #000000;
$--color-text-regular: #333333;
$--color-text-secondary: #707070;
$--color-text-auxiliary: #999999;
$--color-text-placeholder: #c8c9cc;
$--color-white: #ffffff;
$--color-border: #eceff4;

$--color-success: #2da641;
$--color-success-bg: #f0faf2;
$--color-success-border: #66be74;
$--color-warning: #ed6a0c;
$--color-warning-bg: #fff5ed;
$--color-warning-border: #f1924e;
$--color-danger: #d40000;
$--color-danger-bg: #ffebeb;
$--color-danger-border: #df4545;

$--border-color-light: #e4e7ed;
$--background-color-base: #f5f7fa;
