$--color-primary: #369aa2;
$--color-warning: #e6a23c;
$--color-red: #f4364c;
$--color-black: #000;
$--color-black-light: #333;
$--color-grey: #9d9d9d;
$--color-grey-light: #efefef;
$--color-brown: #9d9d9d;
$--color-blue: #5287e1;
$--color-blue-light: #d9e5ef;
$--color-green: #008000;
$--color-white: #fff;
$--color-white-light: rgba(255, 255, 255, 0.15);
